@keyframes shake {
  0% {
    transfrom: translateX(-5px);
  }

  50% {
    transfrom: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loginTitle {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    5% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    10% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    15% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    20% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    25% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    30% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    35% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    40% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    45% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    50% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    60% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    70% {
      opacity: 0;
      text-shadow: 0px 0px 10px white;
    }
  
    85% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  
    100% {
      opacity: 1;
      text-shadow: 0px 0px 10px white;
    }
  }
  
  @keyframes loginForm {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100%;
    }
  }

  @keyframes cardShuffleIn {
    0% {
      transform: translateY(100vh);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes picExpand {
    0% {
      transform: translateX(200px);
    }
  
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes menuTransformBefore {
    0% {
      width: .7rem;
      transform: translateX(0) rotate(0);
    }
    
    45% {
      width: .7rem;
      transform: translateX(1rem) rotate(0deg);
    }
  
    50% {
      width: .7rem;
      transform: translateX(1rem) rotate(45deg);
    }
  
    100% {
      width: 3rem;
      transform: translateX(1rem) rotate(45deg);
    }
  }
  
  @keyframes menuTransformAfter {
    0% {
      width: .7rem;
      transform: translateX(0) rotate(0);
    }
    
    45% {
      width: .7rem;
      transform: translateX(-3rem) rotate(0deg)
    }
  
    50% {
      width: .7rem;
      transform: translateX(-3rem) rotate(-45deg);
    }
  
    100% {
      width: 3rem;
      transform: translateX(-3rem) rotate(-45deg);
    }
  }
