.errorMessage {
    transition: all .3s ease-out;
    position: absolute;
    bottom: 4rem;
    border-radius: 1rem;
    background-color: rgba(red, 0.3);
    padding: 1.6rem;
    font-size: 2rem;
    font-family: 'Raleway';
    text-align: center;
    color: white;
}